* {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('grass.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 117vh;
}

.background-image:before {
    content: '';
    background-image: linear-gradient(to top, rgba(239, 239, 239, 255), rgba(239, 239, 239, 0));
    position: absolute;
    height: 100px;
    right: 0;
    bottom: -17vh;
    left: 0;
}

.background-image:after {
    content: '';
    /* display: block; */
    height: 99px;
}

.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 7vh;
}

.pokeball {
    display: block;
    width: 96px;
    height: 96px;
    background: radial-gradient( white 8px, black 8.5px 9px, white 9.5px 12px, black 12.5px 16px, transparent 16.5px), linear-gradient(to bottom, red 0 40px, black 40.5px 48px, white 48.5px 100%);
    border-radius: 50%;
    border: 4px solid black;
    box-shadow: inset -8px -4px 0 0 rgba(0, 0, 0, 0.2);
}

h3 {
    position: absolute;
    margin-bottom: 20px;
}

.bul-box {
    /* width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url('grass.webp');
    background-position: center;
    background-size: cover; 
    margin: auto;
    width: 362px;
    height: 675px;
    border-radius: 30px;
    background-color: rgb(12, 12, 19);
    color: white;
    overflow: hidden;
    background: rgba( 255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 8.5px);
    -webkit-backdrop-filter: blur( 8.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);*/
    padding: 2vmax;
    display: flex;
    margin-left: 50%;
    width: 15vw;
    height: 69vh;
    border-radius: 15px;
    color: white;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    flex-wrap: nowrap;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
}

#bul-name {
    padding: 1vh;
    font-size: xx-large;
}

.bul-logo {
    margin-bottom: -165px;
    position: relative;
    z-index: 2;
}

#bul {
    width: 100%;
    height: 100%;
}

.bul-dis {
    text-align: center;
}
.page2{
    background-image: url('yellowlight.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 117vh;
}
.pika-box{
    padding: 2vmax;
    display: flex;
    margin-left: 20%;
    width: 15vw;
    height: 69vh;
    border-radius: 15px;
    color: white;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    flex-wrap: nowrap;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    
}
.pika-logo {
    margin-bottom: -950px;
    height: 300px;
    width: 35.5px;
    position: relative;
    z-index: 2;
}
#pika{
    height: 200%;
    width: 200%;
    margin-right: 120%;
}
h2{
    color: rgb(248, 240, 240);
    position: absolute;
}


